<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./register">Registra-se</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>
<h1>Seleção de Produtos Cadastrados Categorias</h1> 
<div class="__table">
    
    <table>
        
        
        <thead>
            <tr>
                <td>Opções</td>
                <td>Id</td>
                <td>Barraca</td>
                <td>Nome Poduto</td>
                <td>Categoria</td>
                <td>Preco</td>
            </tr>
        </thead>   

        <tbody>
            {{#data}}
            <tr>
                <td>
                    <a href="del/{{ id }}" class="deletar">Del</a> | 
                    <a href="edit/{{ id }}">Update</a>
                </td>
                <td>{{ id }}</td>
                <td>{{fk_nome_barraca}}</a></td>
                <td>{{ nome_produto }}</td>
                <td>{{ categoria }}</td>
                <td>{{ preco }}</td>
                
            </tr>
            {{/data}}
        </tbody>

        <tfoot>
            <tr>
                <td>Dev Isaque Menezes </td>
            </tr>
        </tfoot>

    </table>
</div>