<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir-produto">Inserir produto</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./register">Registra-se</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>

<div class="__table">
<table>
    <caption>Seleção de Produtos Cadastrados</caption>

    <thead>
        <tr>
            <td>Opções</td>
            <td>Id</td>
            <td>Barraca</td>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Preco</td>
        </tr>
    </thead>   

    <tbody>
        {{#data}}
        <tr>
            <td>
                <a href="del/{{ id }}" class="deletar">Del</a> | 
                <a href="edit/{{ id }}">Update</a>
            </td>
            <td>{{ id }}</td>
            <td>{{ fk_barraca }}<a href="./frutas">{{nome_barraca}}</a></td>
            <td>{{ nome_produto }}</td>
            <td><a href="categoria/{{ categoria }}">{{ categoria }} </a></td>
            <td>{{ preco }}</td>
            
        </tr>
        {{/data}}
    </tbody>

    <tfoot>
        <tr>
            <td>Dev Isaque Menezes </td>
        </tr>
    </tfoot>

</table>
</div>